# Git
.git
.gitignore

# Local virtual environments
venv
.venv
env

# Python cache files
__pycache__
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.env.*

# Local database files
*.db
*.sqlite3

# Other OS files
.DS_Store